* {
    background:      #10081d;
    background-alt1: #1b1030;
    background-alt2: #261345;
    foreground:      #9fd3e3;
    selected:        #AC43C8;
    active:          #602793;
    urgent:          #6E1C8E;
}
