* {
    background:      #05090F;
    background-alt1: #0f1622;
    background-alt2: #122035;
    foreground:      #f4edc0;
    selected:        #16E4F0;
    active:          #435545;
    urgent:          #207B7E;
}
